---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { getCollection, getEntry, render} from 'astro:content';
import BlogHeader from '../../components/blog/BlogHeader.tsx';

export async function getStaticPaths() {
  const pages = await getCollection('blog');

  return pages.map((page) => {
    return {params: {
      blogPost: page.data.slug,
    }, 
    props: {
      title: page.data.title,
      id: page.data.id,
      tags: page.data.tags,
    }}});
}

const { blogPost } = Astro.params;
const { title, id, tags } = Astro.props;

const formattedTitle = title ? `| ${title}` : '';

const entry = await getEntry('blog', id);

if (!entry) {
  throw new Error(`Blog post with id ${id} not found.`);
}

const { Content, headings } = await render(entry);

// Table of Contents:
const toc = headings.map((heading) => {
  return {
    text: heading.text,
    slug: heading.slug,
  };
});

let defaultTags = tags || [];
---

<BaseLayout title={formattedTitle}>
  <article class="blogPost">
    <BlogHeader title={title} tags={defaultTags} />
    <div class="tableOfContents">
      <ul>
        {toc.map((item) => (
          <li>
            <a href={`#${item.slug}`}>{item.text}</a>
          </li>
        ))}
      </ul>
    </div>
    <Content />
  </article>
</BaseLayout>

<style>
  .blogPost {
    margin-top: 0.5rem;
    padding: 3rem;
    padding-top: 1rem;
    background-color: var(--background-color);
    border-radius: 10px 10px 10px 10px;
    height: fit-content;
  }
</style>

<style is:global>

  .blogPost h1, .blogPost h2, .blogPost h3, .blogPost h4, .blogPost h5, .blogPost h6 {
    color: var(--primary-text-color);
    font-weight: 600;
    margin: 0.5rem 0;
    background-color: var(--background-color-main);
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 
      -2rem 0px var(--background-color-main), 
      1rem 0px var(--background-color-main),
      -2rem 2px var(--primary-bar-color),
      1rem 2px var(--primary-bar-color);
  }

  .blogPost {
    font-size: 1.1rem;
  }

  .blogPost img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--primary-bar-color);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  .blogPost pre {
    border: 1px solid var(--primary-bar-color);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1); 
  }

  /* TODO: Swap with a fancy font */
  .blogPost blockquote {
    color: var(--accent-text-color);
    background-color: var(--accent-text-background-color);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(1.2rem, 2rem, 4vw);
    font-weight: 600;
    float: right;
    width: 40%;
    margin: 0 0.25rem;
    padding: 0 0.25rem;
    border-left: 3px solid var(--primary-bar-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
   .blogPost blockquote { 
      float: none;
      width: 100%;
      margin: 1rem 0;
      font-size: clamp(1.1rem, 1.5rem, 3vw);
    }
  }

  .blogPost p {
    padding-left: 1rem;
  }

  .blogPost blockquote p {
    margin: 0;
    padding: 0;
  }

  .blogPost a {
    color: var(--primary-accent-color);
  }

  .blogPost a:visited {
    color: var(--primary-accent-color);
  }
</style>